@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html, body {
    background: rgb(34,193,195);
background: linear-gradient(80deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

*{
    font-family: 'Poppins', sans-serif;

}